[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Greg Wardwell
	email = gwardwell@users.noreply.github.com
{{- if .signingkey }}
	signingkey = {{ .signingkey }}
{{- end }}

[commit]
	template = ~/.config/git/commit-template.txt
{{- if .gpgsign }}
	gpgsign = true
{{- end }}

[gpg]
	# Use SSH keys for signing (not GPG)
	format = ssh

[gpg "ssh"]
	# 1Password handles SSH signing with Touch ID
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
	allowedSignersFile = ~/.ssh/allowed_signers
[core]
	# Editor for git commit messages (change to "code -w" for VS Code)
	editor = cursor -w
	excludesfile = ~/.gitignore_global
[init]
	# Template directory - .gitignore copied to every new repo
	templateDir = ~/.git-templates

# Conditional config for employer repos
# Repos in ~/Developer/employer/ will use ~/.gitconfig-employer settings
[includeIf "gitdir:~/Developer/employer/"]
	path = ~/.gitconfig-employer

